.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.square{
  border: 4px green solid ;
  border-radius: 10px;
  width: 200px;
  height:120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DBF0E8;
  font-family: cursive;
  color: #30491B;
  font-size: larger;
}

.board-container{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;

}

html{
  background-color: #A1D772;
}

.turn{
  font-size: 2em;
  font-family: cursive;
  color: green;
  
}

h1{
  font-family: cursive;
  color: green;
  font-size: 40px;
}

.val{
  font-size: 2em;
  font-weight: bold;
  font-family: cursive;
}

.play{
  /* border-radius: 50%; */
  font-size: 24px;
  font-family: cursive;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  color: white;
  padding: 15px 25px;
}
.play:hover {background-color: #3e8e41}

.play:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}